[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
colorama = "*"
requests = "*"
mysql-connector-python = "*"

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"
requests-mock = "*"
